<ul class='crud-menu-btn list-inline float-right'>
  <% if current_user.id == board.user_id %>
    <li class="list-inline-item">
      <%= link_to edit_board_path(board), id: "button-edit-#{board.id}" do %>
        <%= icon 'fa', 'pen' %>
      <% end %>
    </li>
    <li class="list-inline-item">
      <%= link_to board_path(board), method: :delete, data: { confirm: '削除しますか？' }, id: "button-delete-#{board.id}" do %>
        <%= icon 'fas', 'trash' %>
      <% end %>
    </li>
  <% end %>  
</ul>